*{
    margin: 0;
    padding: 0;
    font-family: "whit";
}
@font-face {
    font-family: "whit";
    src: url(whitneylight.otf);
} 
@font-face {
    font-family: "whitb";
    src: url(whitneybold.otf);
} 
body{
    background-color: #151515;
}
header{
    display: flex;
    margin: 3%;
}
h1{
    color: #fff;
    font-family: "whitb";
    font-size: min(45px, 7vw);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
    width: 70vw;
}
main img{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 73% 58% 68% 68%;
    background-color: rgb(139, 180, 255);
    transition: 0.3s ease;
}
main a{
    text-decoration: none;
}
main img:hover{
    box-shadow: 0px 0px 20px 0.1px rgb(125, 171, 255);
}
.membros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 15em;
    padding: 1%;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: #ffff;
}
.content2{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s ease;
}
#pessoa1{
    border-radius: 50% 45% 60%;
}
#pessoa2{
    border-radius: 40% 60% 50% 50%;
}
#pessoa3{
    border-radius: 104% 109% 80% 90%;
}
#pessoa4{
    border-radius: 92% 113% 125% 127%;
}
#pessoa5{
    border-radius: 52% 55% 69% 55%;
}
#pessoa6{
    border-radius: 98% 140% 90% 162%;
}
.back{
    position: relative;
    border-radius: 73% 58% 68% 68%;
    width: 10.5em;
    height: 10.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    animation: rodar 2s infinite;
}
@keyframes rodar {
    0%{
        background-color: rgb(255, 160, 226);
    }
    50%{
        background-color: rgb(255, 222, 151);
    }
}